/* Mobile un-friendly version */
body {
  font-family:'Montserrat', sans-serif;
  /*color: #c8c8c8;*/
  color:white;
  margin:0;
  background-color: black;





	 /*text-align: center;*/
	 /*background: #fcfcfa;*/
	 /*color: #818078;*/
	 /*font-family: Futura, sans-serif;*/
}



h1 {
  margin:0;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
  border-width: medium;
  padding-top: 3px;
}

.row1 {
  height:600px;
  width:100%;
  background-color: black;
}

.row2 {
  height:600px;
  width:100%;
  margin-right: auto;
  margin-left: auto;
  background-color: black;
}

.row3 {
  margin-right: auto;
  margin-left: auto;
  height:600px;
  width:75%;
  background-color: black;
}

.row4 {
  margin-right: auto;
  margin-left: auto;
  height:600px;
  width:75%;
  background-color: black;
}

.row5 {
  height:600px;
  width:80%;
  background-color: black;
  margin-right: auto;
  margin-left: auto;
}

.row6 {
  height:600px;
  width:100%;
  background-color: black;
}

.row7 {
  height:600px;
  width:100%;
  background-color: black;
}

.row8 {
  height:600px;
  width:100%;
  background-color: black;
  text-align: center;
}

.row9 {
  height:600px;
  width:100%;
  text-align: center;
}

.topRow-col1 {
  display:inline-block;
  margin-left: 0;
  position: relative;
  top: 100px;
  right: 50px;
}

.topRow-col2 {
  height: 500px;
  width: 50%;
  display:inline-block;
  margin-top: 0;
  position: absolute;
  right: 0;

}

/*.pic2 {
  position: absolute;
  margin-top: 110px;
  right: 0;
  display: inline-block;
}*/

.pic2 {
  position: relative;
  top: 125px;
  float:right;
}

.pic3 {
  position: relative;
  top: 70px;
  background-color: black;
  float: left;
}

.row3_col2 {
  position:relative;
  left: 25px;
  top: 300px;
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom:0;
}

.little_rover {
  position:relative;
  left: 25px;
  top: 300px;
  font-size: 2em;
  font-weight: 600;
  text-decoration: underline;
  margin-top: 0;
  margin-bottom:0;
  text-decoration-thickness: 1px;
}
/*
.pic3 {
  margin-top: 70px;
  position: absolute;
  left: 130px;
  background-color: purple;
}
*/

.row4_col1{
  position: relative;
  left: 35px;
  font-size: 1.5em;
  font-weight: 400;
  top:300px;
  text-align: right;
  width: 30%;
  display: inline-block;
  margin:auto 30px auto 0;
}

.pic4 {
  position: relative;
  top: 80px;
  float: right;
  margin-left: 0;

}

/*.pic4 {
  margin-top: 0;
  position: absolute;
  right:0;
}*/

.pic5 {
  position: relative;
  top: 100px;
  float: left;
}

/*.pic5 {
  position: absolute;
  left:0;
  margin-top:40px;
}*/

.pic6 {
  position: absolute;
  margin-top:0;
  right:0;
}

.pic7 {
  position: absolute;
  margin-top:0;
  left:0;
}

.pic8 {
  position: absolute;
  margin-top:0;
  right:0;
}

.pic9 {
  position: relative;
  margin-top: 25px;
  background-color: black;
}

.pic10 {
  position: relative;
  margin-top:70px;
}

.my_name {
  position: absolute;
  right: 2%;
  top: 5px;
  font-size: 2.2rem;
}

.my_titles {
  position: absolute;
  top: 5rem;
  right: 2%;
  font-size: 1.5rem;
  text-align: right;
  font-weight: 500;
}

.pr1 {
  position:absolute;
  right: 0;
}

.pr2 {
  position:absolute;
  right: 0;
  display: block;
}

.pr3 {
  position:absolute;
  right: 0;
  display: block;
}

.description {
  font-size: 1em;
  font-weight:500;
  width:50%;
  position: relative;
  left:0;
  top:90px;
  display: inline-block;
  align-content: center;


}

/*.description {
  font-size: 1em;
  font-weight:500;
  width:50%;
  position: absolute;
  left: 0;
  display: inline-block;
  align-content: center;
  margin-top: 50px;
}*/

ul {
  /*list-style: "\02666\ ";*/
  list-style: "\027A3\ ";
}

.inner_list {
  list-style:circle;
}

.outer_list {
  margin-top:10px;
  margin-bottom:10px;
}

.outer_list_b {
  margin-top:10px;
}

.links {
  position:relative;
  top:100px;
  margin:0 auto 0 auto;
  text-align: center;
}







/*
/* Style all font awesome icons
.fa {
padding: 20px;
  font-size: 30px;
  width: 100px;
  text-align: center;
  text-decoration: none;
}*/

.fa {
  padding: 14px;
  font-size: 4px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 30%;
  margin-bottom: 5px;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-github {
  background: white;
  color: black;
}

/* Twitter */
.fa-linkedin {
  background: #2867B2;
  color: white;
}























 .container {
	 max-width: 50%;
	 margin: 40px auto;
}
 .hr-text {
	 line-height: 1em;
	 position: relative;
	 outline: 0;
	 border: 0;
	 color: white;
	 text-align: center;
	 height: 1.5em;
	 opacity: 0.5;
}
 .hr-text:before {
	 content: '';
	 background: linear-gradient(to right, transparent, white, transparent);
	 position: absolute;
	 left: 0;
	 top: 50%;
	 width: 100%;
	 height: 2px;
}
 .hr-text:after {
	 content: attr(data-content);
	 position: relative;
	 display: inline-block;
	 color: black;
	 padding: 0 0.5em;
	 line-height: 1.5em;
	 background-color: black;
}
